:root {
    --footer-height: 80px;
    --main-width: 734px;
}

.footer {
    padding: 10px;
}

.menu .active {
    text-decoration: none !important;
}

.post-content {
    font-size: 16.5px;
    line-height: 1.7;
}
